<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>野村相談所 | ホーム</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>ようこそ、野村相談所へ</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">ホーム</a></li>
                <li><a th:href="@{/services}">サービス紹介</a></li>
                <li><a th:href="@{/profile}">プロフィール</a></li>
                <li><a th:href="@{/contact}">お問い合わせ</a></li>
				<li><a th:href="@{/contact/list}">お問い合わせ一覧</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>害虫に関する悩みに寄り添う、個人相談所</h2>
            <p>ゴキブリ、ダニ、ハエなど、我々の平穏を脅かす害虫の悩みを一緒に整理していきましょう。</p>
            <p>初回相談は無料です。お気軽にお問い合わせください。</p>
            <a th:href="@{/contact}" class="submit-button">→ お問い合わせはこちら</a>
			
        </section>
    </main>

    <footer>
        <p>&copy; 2025 野村相談所</p>
    </footer>
</body>
</html>
